body {
    font-family: "avenir", arial, sans-serif;
}
p, #identity li {
    font-size: 28px;
}
/*------------------------------------------------------------------HEADER--------------*/
header {
    background: url("../img/headband.jpeg") center;
    height: 400px;
}
#headMenu a {
    color: aliceblue;
}
#headMenu .navbar-brand:first-of-type {
    color: #449690;
}
#headMenu :hover {
    color: #449690;
}
header h1 {
    font-size: 75px;
    margin-top: 80px;
    color: aliceblue;
}
/*------------------------------------------------------------------COMMUN--------------*/
section h1 {
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 40px;
}
/*------------------------------------------------------------------PRESENTATION--------------*/
#identity li {
    list-style: none;
    padding-bottom: 4px;
}
#photoPresentation img {
    width: 230px;
    height: auto;
    border-radius: 20px;
}
#photoPresentation {
    margin-top: 40px;
}
/*------------------------------------------------------------------CHOIX--------------*/
#choix {
    margin: 75px 0 50px 0;
}
#choix h2 {
    font-size: 40px;
    
}
#choix h2:hover {
    color: #449690;
}
/*------------------------------------------------------------------CONTAINER & COMMUN JS--------------*/
#container {
    width: 100%;
    height: auto;
}
.containerParty {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}
/*-----------------------------------------FORMATION----------------------------*/
#formationContent {
    z-index: 3;
    background-color: white;
}
#formationContent p {
    padding: 0px 40px 0px 40px;
    margin-top: 100px;
}
#formationContent img{
    width: 390px;
    margin-top: 150px;
}
/*-----------------------------------------EXPERIENCES----------------------------*/
#experienceContent {
    z-index: 2;
    background-image: url(../img/texture.jpg);
    background-size: cover;
}
#experiencedesc p {
    padding-top: 100px;
    margin: 0px 50px 0px 50px;
    color: white; 
}
/*-----------------------------------------COMPETENCES----------------------------*/
#competenceContent {
    background-color: #BABCBA;
    z-index: 1;
}
#loadingBar img {
    margin: 20px 0 20px 0;
    width: 105px;
    height: 105px;
}
.progress-bar {
    height: 20px;
}
#loadingBar {
    margin: 100px 0 100px 0;
}
#competenceDesc p {
    margin: 100px 30px 50px 30px;
}
/*-----------------------------------------PROJETS----------------------------*/
#projetsDescription {
    background: rgba(255,255,255,0.70);
}
#projetsDescription  h1 {
    padding-top: 80px;
}
#projetsDescription p, #projetsDescription h4 {
    font-size: 28px;
    width: 300px;
    margin: 0 auto;
}
#projetsDescription img{
    width: 180px;
    height: 180px;
}
#momento, #github {
    margin-top: 30px;
}
#projetsDescription a {
    text-decoration: none;
    color: black;
}
#projetsDescription a:hover {
    color: #449690;
}
#github {
    padding-bottom: 80px;
}
/*-----------------------------------------FOOTER----------------------------*/
footer {
    height: 200px;
    background-image: url("../img/footer.jpg");
    background-size: cover;
}
#footMenu {
    margin-top: 0px;
    font-size: 30px;
    list-style: none;
    padding-top: 60px;
}
#footMenu li {
    display: inline-block;
    margin: 5px;
    color: black;
}
#footMenu a {
    text-decoration: none;
    color: black;
}
#footMenu a:hover {
    color: #449690;
}
/*-----------------------------------------MODAL-IMG----------------------------*/
.modal img {
    width: 80px;
    height: 80px;
}
.modal p, h5 {
    font-size: 29px;
}
.modal .btn {
    font-size: 25px;
}
/*-----------------------------------------MODAL-IMG----------------------------*/
@media screen and (min-width: 992px) { 
    #competenceDesc p {
        margin: 200px 30px 50px 30px;
        border-right: 3px solid gray;
        padding-right: 40px;
    }
    #experiencedesc p {
        font-size: 31px;
        padding: 100px 60px 0 60px;
        color: white; 
    }
    #formationContent p {
        border-right: 3px solid gray;
    }
    #formationContent img{
        padding-top: 150px;
    }
    #choix {
        margin: 150px 0 100px 0;
    }
    #photoPresentation {
        border-left: 3px solid gray;
        margin-top: 0px;
    }
    #headMenu a {
        font-size: 25px;
    }
    #headMenu .navbar-brand:first-of-type {
        font-size: 35px;
    }
}
@media screen and (max-width: 992px) {
    #headMenu {
        position: fixed;
        width: 100%;
        background-color: black;
        opacity: 0.9;
        z-index: 9;
    }
    #headMenu .navbar-brand:first-of-type {
        font-size: 45px;
    }
    #headMenu a {
        font-size: 55px;
    }
    #headMenu button {
        margin-right: 10px;
    }
}